<div class="container">
  <h1>Pico y Placa</h1>

  <div class="card">
    <div class="card-header">
      Datos
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
        <div class="container">
          <div class="row">
            <!-- plate -->

            <mat-form-field>
              <input matInput placeholder="Placa" formControlName="plate">
              <!-- error -->
              <mat-error *ngIf="form.get('plate')!.hasError('required')">
                Placa es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>


            <!-- fecha -->
            <mat-form-field>
              <input matInput placeholder="Fecha" [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- error -->
              <mat-error *ngIf="form.get('date')!.hasError('required')">
                Fecha es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>

            <!-- hora -->
            <mat-form-field>
              <input matInput placeholder="Hora" formControlName="time">
              <!-- error -->
              <mat-error *ngIf="form.get('time')!.hasError('required')">
                Hora es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>

            <!-- Submit form -->
            <div style="margin-top: 20px;">
              <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Resultado</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>